---
// Redirect to homepage since about content is now integrated there
---

<!doctype html>
<html lang="en">
	<head>
		<meta http-equiv="refresh" content="0; url=/" />
		<script>
			window.location.href = "/";
		</script>
	</head>
	<body>
		<p>Redirecting to homepage...</p>
	</body>
</html>
